@import url(https://fonts.googleapis.com/css?family=Lato);

body {
	width: 100%
	height: 100%;
	margin: auto;
}

                            /*Misc*/

* {
	font-family: 'Lato', sans-serif;
}

.nopad {
    padding: 0 !important;
}

/*.mini-marg {
    margin-right: 14px;
}*/

.nomarg {
    margin: 0 !important;
}

.mini-nopad-right {
    padding-right: 0 !important;
}

hr {
    margin: 0;
}

                            /*Navbar*/

.navbar-default .navbar-brand {
	color: #ffffff;
	font-size: 18px;
	font-weight: 700;
    margin: 0 !important;
    letter-spacing: -1px;
}

.navbar-default .navbar-brand:hover {
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
}

.nav-icon i {
	font-size: initial;
}

.navbar-default .navbar-nav > .active > a {
	background-color: #24890d;
	color: #ffffff;
}

.navbar-default {
    background-color: #000000;
    border: none;
}

.navbar-toggle {
    float: right;
    padding: 17px 12px;
    background-color: transparent;
    background-image: none;
    border: none;
}

.button-icon-search {
	background-color: #24890d;
    height: 50px;
    margin-left: 1px;
    text-align: center;
    width: 48px;
}

.search-icon {
	color: #ffffff;
}

.navbar-nav > li > .dropdown-menu {
	margin-left: -137px;
	background-color: #24890d;
    width: 1135px;
    border-radius: 0;
}

.navbar-nav > li > .dropdown-menu > .form-inline {
    float: right;
    padding: 5px;
}

.search-navbar {
    background-color: #fff;
    border: 0;
    float: right;
    font-size: 16px;
    padding: 2px 2px 3px 6px;
    width: 324px !important;
    height: 25px;
}

.navbar-default .navbar-nav > .open > a {
	background-color: #24890d;
	color: #ffffff;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover {
	background-color: #24890d;
}

.navbar-default .navbar-nav > .green > a {
	color: #55d737;
	font-weight: 700;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #24890d;
	color: #ffffff;
}

                            /*main side*/

.main {
    margin-top: 50px;
}

.content-left {
    background-color: #000000;
    float: left;
}

@media screen and (max-width: 1080px) {
    .content-left {
        width: 100%;
        position: absolute;
        top: 1200px;
    }

    .secondary-content-left {
        min-width: 100%;
        position: absolute;
        top: 800px;
    }
}

.main-content {
    height: 1090px;
}

.description {
    display: block;
    margin: 0 0 18px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    padding: 0px 30px;
}


                            /*Sidenav styles*/

.side-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.side-nav li {
    line-height: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.border-bot {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 25px;
}

.side-nav li:hover {
    background-color: #24890d;
    color: #fff;
}

.active {
    background-color: #24890d;
    color: #fff;
}

.side-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0px 30px;
    position: relative;
}

.side-nav li a:hover {
    text-decoration: none;
    color: #fff;
}

.side-nav li a:active {
    text-decoration: none;
}

.side-icon {
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 18px !important;
}

.side-icon-word {
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 15px !important;
}

.secondary-content-left {
    background-color: #000000;
    float: left;
    padding: 0px 30px;
}

.side-search {
    font-size: 12px;
    padding: 1px 2px 1px 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    height: initial;
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.side-aside-search {
    margin-bottom: 48px;
}

.side-audiotheme {
    margin-bottom: 48px;
}

.side-audiotheme img {
    width: 100%;
    height: 150px;
}

.h2-side-audiotheme {
    text-transform: uppercase;
    font-size: 11px;
    color: #fff;
    font-weight: 900;
    margin-bottom: 18px;
}

.release-text {
    font-size: 12px;
    font-style: italic;
    line-height: 1.5;
    margin: 9px 0 0;
    color: rgba(255, 255, 255, 0.7);
}

.more-text-hovered {
    margin-bottom: 18px;
}

.more-text-hovered a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.more-text-hovered a:hover {
    color: #24890d;
    text-decoration: none;
}

.side-menu {
    margin-bottom: 48px;
}

.list-none {
    list-style: none;
    padding: 0;
}

.side-list {
    padding: 0 0 6px;
    margin: 0;
}

.description-end {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.7);
    width: 162px;
}

.description-end a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.description-end a:hover {
    color: #24890d;
    text-decoration: none;
}

                  /*Menu with article (top content)*/

.top-content {
    padding-left: 222px;
    display: block;
    width: 1367px;
}

.top-content-inner {
    display: inline-block;
    height: 328px;
    overflow: hidden;
}

.article-content {
    width: 33%;
    float: left;
}

.article-title {
    height: 120px;
    background-color: #000;
    color: #fff;
    border-color: #000;
    border-style: solid;
    border-width: 12px 10px;
}

.rel-pos {
    position: relative;
}

.abso-pos {
    position: absolute;
    bottom: 45px;
    width: 100%;
}

.entry-cat {
    font-size: 11px;
    font-weight: 700;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.entry-cat a {
    color: #fff;
    text-decoration: none;
}

.entry-cat a:hover {
    color: #24890d;
}

.entry-title {
    font-size: 18px;
    font-weight: 300 !important;
    margin: 0;
    text-transform: uppercase;
}

.entry-title a {
    color: #fff;
    text-decoration: none;
}

.entry-title a:hover {
    color: #24890d;
}

                /*Menu with article (mid content)*/

.mid-content {
    padding-top: 72px;
}

.mid-content-inner {
    margin-left: 222px;
    margin-right: 33%;
}

.first-article-mid {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-title {
    padding: 0 30px 10px 105px;
}

.mid-title-inner {
    font-size: 33px;
    font-weight: 300;
    margin: 0 0 12px 0;
    text-transform: uppercase;
    width: 81%;
}

.mid-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mid-audio {
    margin-bottom: 24px;
}

.p-audio {
    width: 69%;
    font-size: 16px;
}

.text-hover {
    color: #24890d;
}

.text-hover:hover {
    color: #24890d;
}